html {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    min-width: 1200px;
    height: 100%;
    margin: 0px;
    padding: 0px 0px;
    justify-content: center;
}

#sidebar {
    background-color: rgb(72, 145, 253);
    color: white;
    width: 200px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 15px;
    padding-right: 35px;
}

#logo {
    align-self: center;
    padding-top: 15px;
}

#container {
    flex: auto;
}

#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

#search>*{
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchbar {
    border-radius: 15px;
    border: 0px;
    background-color: rgb(222, 229, 247);
    height: 25px;
    width: 500px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.greeting {
    align-self: end;
}

.user_avatar {
    height: 35px;
    width: auto;
    border-radius: 50%;
}

#header .user_avatar {
    height: 70px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.header_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

#header .buttons  {
    display: flex;
    gap: 30px;
}

#article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(222, 229, 247);
    gap: 15px;
    padding: 20px 32px;
    padding-bottom: 40px;
}

#article > #projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
}

#announcement-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

#announcement-container > #announcements{
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    box-shadow: 0px 5px rgba(192, 192, 192, 0.164);
    border-radius: 10px;
    width: minmax(300px, 1fr);
    padding: 0px 10px;
}

.announce::after{
    content: "";
    background-color: rgb(221, 221, 221);
    width: max(250px, 25%);
    height: 1px;
    display: block;
}

#trending {
    grid-column: 2/3;
    grid-row: 2/3;
}

#trending > #trends {
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    box-shadow: 0px 5px rgba(192, 192, 192, 0.164);
    border-radius: 10px;
    width: minmax(300px, 1fr);
    padding: 0px 10px;

}

.trends::after {
    content: "";
    background-color: rgb(221, 221, 221);
    width: max(250px, 25%);
    height: 1px;
    display: block;
}

.card {
    height: 200px;
    width: minmax(300px, 1fr);
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0px 5px rgba(192, 192, 192, 0.164);
    border-radius: 10px;
    background: linear-gradient(to right, rgb(248, 195, 19) 5%, white 5%);
    
}

.card * {
    padding: 0px 20px;
}

li {
    list-style-type: none;
}

#sidebar li {
    display: flex;
    align-items:center;
}

.filter-white {
    filter: invert(99%) sepia(93%) saturate(2%) hue-rotate(65deg) brightness(105%) contrast(100%);;
}

button {
    border-radius: 20px;
    border: 0px;
    background-color: rgb(72, 145, 253);
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
}

