body {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    background-color: rgb(93, 173, 226);
    color: white;
    border: 1px solid black;
    width: 200px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    border: 1px solid blue;
    flex: auto;
}

#search {
    display: flex;
    justify-content: space-around;
}

#header {
    display: flex;
    justify-content: space-between;
}

#article {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#article > #projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2 , 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
}

#announcement_container {
    grid-column: 2/3;
    grid-row: 1/2;
}

#trending {
    grid-column: 2/3;
    grid-row: 2/3;
}

.card {
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

li {
    list-style-type: none;
}

#sidebar li {
    display: flex;
    align-items:center;
}

.filter-white {
    filter: invert(99%) sepia(93%) saturate(2%) hue-rotate(65deg) brightness(105%) contrast(100%);;
}